<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cura</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background_container">
        <video autoplay muted loop class="background_video">
            <source src="/static/videos/background_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <header>
        <div class="logo">
            <img src="/static/images/logo.jpg" alt="Logo">
            <h1>Cura</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#services">Our Services</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#team">Our Team</a></li>
            </ul>
        </nav>
    </header>

    <div class="content-wrapper">
        <section class="tagline_start">
            <h1 class="tagline">
                Foster 
                <br>
                Flourish
                <br>
            </h1>
            <h2 class="tagline1">Aging with Grace and Joy</h2>
            <div class="description">Welcome to Cura - Where Wellness Meets Wisdom.<br>At Cura, we believe in embracing the journey of aging with grace, joy, and vitality. Our mission is to provide you with the tools, knowledge, and support you need, to live your best life at every stage. Join us on this transformative journey towards vibrant health and radiant living. Together, let's unlock the secrets to longevity and embrace each day with vitality and purpose.
            </div>
        </section>
    </div>

    <section id="services" class="services-section">
        <h2>OUR SERVICES</h2>
        <div class="services-container">
            <a href="https://app-diet.streamlit.app/" class="service-card diet-recommendation">
                <div class="card-content">
                    <h3>Diet Recommendation</h3>
                </div>
            </a>

            <a href="https://meal-nutrition-analysis.streamlit.app/" class="service-card meal-nutrition">
                <div class="card-content">
                    <h3>Meal Nutrition Analysis</h3>
                </div>
            </a>

            <div class="service-card cognitive-mind-games">
                <div class="card-content">
                    <h3>Cognitive Mind Games</h3>
                </div>
            </div>
            <div class="service-card latest-news">
                <div class="card-content">
                    <h3>Latest News</h3>
                </div>
            </div>
        </div>
    </section>    

    <section id="about" class="about-section">
        <h2>ABOUT US</h2>
        <!-- Add your about us content here -->
    </section>

    <section id="team" class="team-section">
        <h2>OUR TEAM</h2>
        <!-- Add your team members here -->
    </section>
    
    <div class="latest-news-container">
        <iframe src="/latest_news" frameborder="0"></iframe>
    </div>
    
    <script>
        window.embeddedChatbotConfig = {
        chatbotId: "2PNH7-kaAEFihAbe1kJ-w",
        domain: "www.chatbase.co"
        }
        </script>
        <script
        src="https://www.chatbase.co/embed.min.js"
        chatbotId="2PNH7-kaAEFihAbe1kJ-w"
        domain="www.chatbase.co"
        defer>
        </script>
    <script src="script.js"></script>
</body>
</html>
